/* Footer ------------------------------- */

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap : 28px;
    margin-top: auto;
    width: 100%;
    height: 209px;
    background-color: #000000;
    color :white;
}

@media screen and (min-width: 769px) {
    .footer{
        margin-top: 63px;
    }
}
