/* NAVBAR ------------------------------------------------*/

.nav{
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding:  20px 20px 16px 20px;
}

.logo{
    width: 145px;
    height: 47px;
}

#links{
    display: flex;
    gap:10px;
    font-size: 12px;
    font-weight: 500;
    color : #FF6060;
    text-transform: uppercase;
    text-decoration: none;
}

#links a.active {
    text-decoration: underline;
}

@media screen and (min-width: 769px) {
    .nav{
        padding:  40px 100px 63px 100px;
    }

    .logo{
        width: 210.32px;
        height: 68px;
    }

    #links{
        gap:57px;
        font-size: 24px;
    }
}

/* HOME ------------------------------------------------*/

#home{
    padding: 0 20px;
}

.banner {
    display:flex;
    align-items: center;
    background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url("./images/landscape_home.png");
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    min-height: 111px;
    padding : 16px;
    margin-bottom: 22px;
    border-radius: 10px;
    color: white;
    font-weight: 500;
}

.banner_title{
    font-size : 24px;
    font-weight : 500;
}

.banner_text_1,.banner_text_2{
    font-weight: inherit;
}

.banner_text_2::before{
    content: "\a";
    white-space: pre;
}

.thumbs_container{
    display: flex;    
    flex-wrap: wrap;
    gap: 20px;
}

@media screen and (min-width: 769px) {

    #home{
        padding: 0 100px;
    }

    .banner{
        min-height: 223px;
        padding : 10px;
        justify-content: center ;
        margin-bottom: 43px;
    }

    .banner_title{
        font-size: 48px;
    }

    .banner_text_2::before{
        content: "";
        white-space: normal;
    }
    
    .thumbs_container{
        justify-content: space-evenly;
        background-color: #F6F6F6;
        gap : 50px 4%;
        border-radius: 25px;
        padding : 4%;
    }
    
}

/* Thumb ------------------------------- */

.thumb{
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    height: 255px;
    padding : 19px;
    border-radius: 10px;
    background-size : cover;
    background-position : center;
    cursor : pointer;
}

.thumb > *{
    display: flex;    
    align-items: center;
    height: 52px ;
    color : white;
    font-size : 18px;
    font-weight: 500;
}

@media screen and (min-width: 769px) {
    .thumb{
        min-width: 335px;
        height: 340px;
    }
}
@media screen and (min-width: 1025px) {
    .thumb{
        max-width: 29.8%;
        min-width: 335px;
        height: 340px;
    }
}


/* Footer ------------------------------- */

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap : 28px;
    margin-top: 20px;
    width: 100%;
    height: 209px;
    background-color: #000000;
    color :white;
}

@media screen and (min-width: 769px) {
    .footer{
        margin-top: 63px;
    }
}


/* logement ------------------------------- */
.logement{
    padding : 20px
}

/* Gallery ------------------------------- */
.gallery{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    width: 100%;
    height : 255px;
    padding: 0 6px;
    margin-bottom : 15px;
    border-radius: 10px;
    background-color: #FF6060;
    background-size : cover;
    background-position : center;
}

.navGallery{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80%;
}

.navGallery > *{
    height: max-content;
    cursor: pointer;
}

.arrowGallery{
    width: 11.67px;
    height: 19.8px;
}

.footerGallery{
    display : none;
    color : white;
    font-weight: 500;
    font-size: 18px;
    height: 10%;
}

@media screen and (min-width: 769px) {
    .gallery{
        height: 415px;
        padding: 0 25px;
        margin-bottom : 30px;
    }
    .arrowGallery{
        width: 46.68px;
        height: 79.2px;
    }
    .footerGallery{
        display : block;
    }
}

/* Titre -----------------  */

.title_logement{
    font-weight: 500;
    font-size: 18px;
    color : #FF6060;
    line-height: 25.67px;
    margin-bottom: 5px;
}

.location_logement{
    font-weight: 500;
    font-size: 14px;
    color : #FF6060;
    line-height: 19.96px;
}

/* Tag ------------------------ */
.tags_logement{
    margin-top: 10px;
    display :flex;
    flex-wrap: wrap;
    gap : 10px;
}

.tag{
    display: flex;
    justify-content: center; 
    align-items: center; 
    min-width: 84px;
    min-height: 18px;
    border-radius: 5px;
    background-color: #FF6060;
    color : white;
    font-size: 10px;
    padding : 0 10px;
}
