/* NAVBAR ------------------------------------------------*/

.nav{
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding:  20px 20px 16px 20px;
}

.logo{
    width: 145px;
    height: 47px;
}

#links{
    display: flex;
    gap:10px;
    font-size: 12px;
    font-weight: 500;
    color : #FF6060;
    text-transform: uppercase;
    text-decoration: none;
}

#links a.active {
    text-decoration: underline;
}

@media screen and (min-width: 769px) {
    .nav{
        padding:  40px 100px 63px 100px;
    }

    .logo{
        width: 210.32px;
        height: 68px;
    }

    #links{
        gap:57px;
        font-size: 24px;
    }
}

/* HOME ------------------------------------------------*/

#home{
    padding: 0 20px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.banner {
    display:flex;
    align-items: center;
    background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url("./images/landscape_home.png");
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    min-height: 111px;
    padding : 16px;
    margin-bottom: 22px;
    border-radius: 10px;
    color: white;
    font-weight: 500;
}

.banner_title{
    font-size : 24px;
    font-weight : 500;
}

.banner_text_1,.banner_text_2{
    font-weight: inherit;
}

.banner_text_2::before{
    content: "\a";
    white-space: pre;
}

.thumbs_container{
    display: flex;    
    flex-wrap: wrap;
    gap: 20px;
}

@media screen and (min-width: 769px) {

    #home{
        padding: 0 100px;
    }

    .banner{
        min-height: 223px;
        padding : 10px;
        justify-content: center ;
        margin-bottom: 43px;
    }

    .banner_title{
        font-size: 48px;
    }

    .banner_text_2::before{
        content: "";
        white-space: normal;
    }
    
    .thumbs_container{
        justify-content: space-evenly;
        background-color: #F6F6F6;
        gap : 50px 4%;
        border-radius: 25px;
        padding : 4%;
    }
    
}

/* Thumb ------------------------------- */

.thumb{
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    height: 255px;
    padding : 19px;
    border-radius: 10px;
    background-size : cover;
    background-position : center;
    cursor : pointer;
}

.thumb > *{
    display: flex;    
    align-items: center;
    height: 52px ;
    color : white;
    font-size : 18px;
    font-weight: 500;
}

@media screen and (min-width: 769px) {
    .thumb{
        min-width: 335px;
        height: 340px;
    }
}
@media screen and (min-width: 1025px) {
    .thumb{
        max-width: 29.8%;
        min-width: 335px;
        height: 340px;
    }
}


/* Footer ------------------------------- */

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap : 28px;
    margin-top: auto;
    width: 100%;
    height: 209px;
    background-color: #000000;
    color :white;
}

@media screen and (min-width: 769px) {
    .footer{
        margin-top: 63px;
    }
}


/* logement ------------------------------- */
.logement{
    padding : 0 20px 20px 20px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 769px) {
    .logement{
        padding : 0 100px;
    }
}
/* Gallery ------------------------------- */
.gallery{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    width: 100%;
    height : 255px;
    padding: 0 6px;
    margin-bottom : 15px;
    border-radius: 10px;
    background-color: #FF6060;
    background-size : cover;
    background-position : center;
}

.navGallery{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80%;
}

.navGallery > *{
    height: max-content;
    cursor: pointer;
}

.navGallery_hidden{
    display: none;
}

.arrowGallery{
    width: 11.67px;
    height: 19.8px;
}

.footerGallery{
    display : none;
    color : white;
    font-weight: 500;
    font-size: 18px;
    height: 10%;
}

@media screen and (min-width: 769px) {
    .gallery{
        height: 415px;
        padding: 0 25px;
        margin-bottom : 30px;
    }
    .arrowGallery{
        width: 46.68px;
        height: 79.2px;
    }
    .footerGallery{
        display : block;
    }
}

/* HEADER -------------------- */

/* Titre -----------------  */

.title_logement{
    font-weight: 500;
    font-size: 18px;
    color : #FF6060;
    line-height: 25.67px;
    margin-bottom: 5px;
}

.location_logement{
    font-weight: 500;
    font-size: 14px;
    color : #FF6060;
    line-height: 19.96px;
}

/* Tag ------------------------ */
.tags_logement{
    margin-top: 10px;
    display :flex;
    flex-wrap: wrap;
    gap : 10px;
}

.tag{
    display: flex;
    justify-content: center; 
    align-items: center; 
    min-width: 84px;
    min-height: 18px;
    border-radius: 5px;
    background-color: #FF6060;
    color : white;
    font-size: 10px;
    padding : 0 10px;
}

@media screen and (min-width: 769px) {
    .title_logement{
        font-size: 36px;
        line-height: 51.34px;
        margin-bottom: 0;
    }
    .location_logement{
        font-size: 18px;
        line-height: 25.67px;
        margin-bottom: 20px;
    }
    .tag{
        height: 25px;
        border-radius: 10px;
        font-size: 14px;
    }
}

/* FOOTER -------------------- */

/* Rating -------------------- */
.info_footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top : 16px;
}

.star_rating{
    display : flex;
    gap : 0 6.59px;
}

.star{
    width: 13.41px;
    height: 13px;
}

/* Profile picture ----------- */

.profile_info{
    display: flex;
    align-items: center;
    gap : 10.5px;
    color : #FF6060;
    font-weight: 500;
    font-size: 12px;
}

.profile_picture{
    width: 32px;
    height: 32px;
    border-radius: 100%;
}

/* info_container ----------------- */

@media screen and (min-width: 769px) {
    .info_container{
        display: flex;
        justify-content: space-between;
    }

    .info_footer{
        display: flex;
        flex-direction: column-reverse;
        justify-content: none;
        align-items: none;
        margin : 0;
        gap : 25px;
    }

    .star_rating{
        display : flex;
        gap : 0 15.25px;
    }

    .star{
        width: 24.75px;
        height: 24px;
    }

    .profile_info{
        height: 64px;
        font-size: 18px;
        justify-content: none;
        align-items: none;
    }

    
    .profile_picture{
        width: 64px;
        height: 64px;
    }
    
}

/* COLLAPSE ------------------------ */

.collapse_container{
    display : flex;
    flex-direction: column;
    gap : 20px;
    padding: 16.5px 0;
}

.collapse{
    width: 100%;
}

.collapse_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    background-color: #FF6060;
    padding : 0 12px;
    width: 100%;
    height: 30px;
    border-radius: 5px;
    font-size : 13px;
}


.collapse_icon_active{
    transform: rotate(-180deg);
}

.collapse_content{
    display: none;
    width: 100%;
    height: fit-content;
    padding: 17px 11px ;
    color : #FF6060;
    background-color: #F6F6F6;
    border-radius: 0 0 5px 5px;
    font-size : 12px;

}

.collapse_content_active{
    display: block;
}

.collapse_list > *{
    list-style:none;
    padding:0;
    margin:0;
}

@media screen and (min-width: 769px) {
    .collapse{
        width: 50%;
    }

    .collapse_container{
        flex-direction: row;  
        justify-content: space-between;
        padding: 26px 0;
        gap : 88px;
    }

    .collapse_header{
        height: 52px;
        border-radius: 10px;
        font-size : 18px
    }

    .collapse_content{
        padding: 30px 20px;
        line-height: 25.67px;
        font-size : 18px
        
    }
    .collapse_content > *{
        line-height: 25.67px;
    }
}