@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 400;
  line-height: 1;
}

a{
  text-decoration: none;
  color: inherit;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

